node_modules
.next
.git
.gitignore
.vercel
.env*
!.env.example
Dockerfile
.dockerignore
README.md
PROJECT_SUMMARY.md
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
coverage
.DS_Store
*.tsbuildinfo
s